body {
  background-image: linear-gradient(
    to right bottom,
    rgb(0, 17, 16) 5%,
    rgb(37, 114, 110),
    rgb(34, 31, 31) 95%
  );
  margin-top: 0;
  margin-bottom: 0;
}
#screen {
  width: 800;
  height: 642;
  margin: auto;
  background-color: rgb(21, 22, 19, 0.7);
  padding-top: 30;
}
.fliper {
  width: 500;
  height: 500;
  margin: auto;
  background-color: transparent;
  position: relative;
  transition: transform 1s;
  transform-style: preserve-3d;
}
.fliper:hover {
  transform: rotateY(180deg);
}
.neptu,
.formular {
  width: 100%;
  height: 100%;
  background-image: linear-gradient(
    to bottom,
    rgb(40, 46, 46) 5%,
    rgb(41, 136, 131) 40%,
    rgb(40, 46, 46)
  );
  margin: auto;
  border-radius: 10px;
  padding-top: 110px;
  position: absolute;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
.formular {
  transform: rotateY(180deg);
}
.formular form label {
  margin: 12px 125px;
  font-size: 17px;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(235, 235, 235);
}
input[type="text"],
select {
  width: 50%;
  padding: 12px 20px;
  margin: 8px 125px;
  display: inline-block;
  border: 2px solid rgb(40, 46, 46);
  border-radius: 4px;
  box-sizing: border-box;
}
input[type="submit"] {
  width: 50%;
  background-color: rgb(49, 49, 49);
  color: rgb(235, 235, 235);
  padding: 14px 20px;
  margin: 8px 125px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
input[type="submit"]:hover {
  background-color: #0e0e0e;
}
h1 {
  margin-top: 0px;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(235, 235, 235);
}
#dukun {
  margin-left: auto;
  margin-right: auto;
  border-radius: 50%;
  width: 200px;
  height: 200px;
  background-image: url("Image/dukun.jpg");
  background-size: cover;
  border-radius: 100em;
  border: 2px solid rgb(40, 46, 46);
}
p {
  margin-top: 30;
  margin-left: 25;
  margin-right: 25;
  text-align: left;
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(235, 235, 235);
}
